extends layout.pug

append head
    //-add page specific styles by appending to the head
    link(rel="stylesheet", href="/stylesheets/movie-profile.css")
block content
    div.leftContainer
        div.moviePoster
            img(src="https://image.tmdb.org/t/p/original" + movie.imgPath, alt="")
        div.movieDetail
            div.title= movie.title
            div.genre= movie.genre
            div.releaseDate= movie.releaseDate
            div.voteRating= movie.voteRoting

            div.desc
                p= movie.description


            //- div
            //-     ul
            //-         li= `User Reviews: ${movie.rating}`


