doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/movie-profile.css")
        title Movie-Profile
    body
        div.profile
            div.leftContainer
                div.image-column
                    img(class="movie-poster" src="https://image.tmdb.org/t/p/original" + movie.imgPath, alt="")
                    button(type="submit") Update Status
            
                div.movieDetails
                    h1 #{movie.title}
                        h2(class="genre") #{movie.genre}
                        h2 #{movie.releaseDate}
                        h2 #{movie.voteRating}

                    h3
                        p= movie.description


