extends layout.pug

block content
    h3= movie.title
    div.container
        img(src="https://image.tmdb.org/t/p/original" + movie.imgPath, alt="")
    div
        ul
            li= `Genre: ${movie.genre}` 
            li= `Release Date: ${movie.releaseDate}`
            li= `Rating: ${movie.voteRating}`

    div
        p= movie.description
    //- div
    //-     ul
    //-         li= `User Reviews: ${movie.rating}`


