extends layout

append head

    link(rel="stylesheet", href="/stylesheets/movie-profile.css")
    title Movie-Profile

block content
    div.profile
        div.leftContainer
            div.image-column
                img(class="movie-poster" src="https://image.tmdb.org/t/p/original" + movie.imgPath, alt="")
                select(class="status")
                    option(value="")= "Add to Shelf"
                    option(value="Want to Watch")= "Want to Watch"
                    option(value="Currently Watching")= "Currently Watching"
                    option(value="Watched")= "Watched"
                div
                p(class='stars' id=movie.id) 
                    span Rate this Movie
                    span(class="far fa-star" id='star-rating_1')     
                    span(class="far fa-star" id='star-rating_2')    
                    span(class="far fa-star" id='star-rating_3')    
                    span(class="far fa-star" id='star-rating_4')    
                    span(class="far fa-star" id='star-rating_5') 

                form(action="/reviews/create", method="post")
                    input(type="hidden", name="_csrf" value=token)
                    input(type="hidden", name="movieId" value=movie.id)
                    input(type="hidden", name="userId" value=userId) 

            div.movieDetails
                h1 #{movie.title}
                    h2(class="genre") #{movie.genre}
                    h2 #{year}
                    h2 #{movie.voteRating}

                h3
                    p= movie.description
    div.reviewProfile
        div.reviewContainer
            div.reviewHeader 
                a.user MovieLover236 
                    span.user rated it
                div.reviewDate #{new Date().toLocaleDateString()}
                div.reviewText 
                    div.userReview Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             
                

