//- mixin option(value, text)
//-   option(value=value selected=(value === movie.BlockbusterShelf.status)) #{text}
link(rel='stylesheet' href='/stylesheets/profile.css')
div
  h1#userProfileName Welcome #{users.username}
  h3.shelves #{users.userName} Blockbuster Shelves
    div
  each movie in users.Movies
    div=movie.title
    img#movieImage(src="https://image.tmdb.org/t/p/original" + movie.imgPath, alt="movie")
    div=movie.BlockbusterShelf.status
    label Status
     select(name="Status")
      option(value="movie.BlockbusterShelf.status")=movie.BlockbusterShelf.status
      option(value="watched")='watched the movie today'
      option(value="previously watched")='watched the movie within the last week'
      option(value="not interested")='longer than a month'

    div=movie.description
    