extends layout

append head
    link(rel="stylesheet", href="/stylesheets/profile.css")
    title User-Profile
block content
    .main-content
      h1.profileName #{users.userName}
      .infoTitle Joined: #{joined}
       h1.profileName #{users.userName} 's Blockbuster Shelves
         each movie in users.Movies
           .space
              if movie.BlockbusterShelf.status ==='watched' 
                a(href='/users/' +user.id + '/shelves/watched' ) #{movie.BlockbusterShelf.status}

              if movie.BlockbusterShelf.status ==='Want to watch' 
                a(href='/users/' +user.id + '/shelves/wantToWatch' ) #{movie.BlockbusterShelf.status}

              if movie.BlockbusterShelf.status ==='Currently Watching' 
                a(href='/users/' +user.id + '/shelves/currentlyWatching' ) #{movie.BlockbusterShelf.status}  



       h1.profileName Recent Updates
        each movie in users.Movies
            br
            .Main
                .Content
                    .moviePic
                        img(class="movieImage" src="https://image.tmdb.org/t/p/original" + movie.imgPath, alt="movie")
                        select(class="status")
                            option(value="movie.BlockbusterShelf.status")=movie.BlockbusterShelf.status
                            option(value="watched")='Want to watch'
                            option(value="previously watched")='Watched'
                            option(value="not interested")='Currently Watching'
                    .details
                        h1 #{movie.title}
                        h2(class="genre") #{movie.genre}
                        h2 #{year}
                        h2.rating #{movie.voteRating}
                        h3
                        p= movie.description