extends layout

append head
    link(rel="stylesheet", href="/stylesheets/profile.css")
    script(src='/javascripts/profile.js' type='module' defer)
    title User-Profile
block content
    .main-content
        each movie in movies
            h1.profileName #{users.userName}
            .infoTitle Joined: #{joined}
            div
                button(class='follow-btn' type='submit' id=users.id) test 
            br
            .space
            h1.profileName #{users.userName} 's Blockbuster Shelves
            a(href = "/shelf") #{movie.status}
            br
            h1.profileName Recent Updates
            .Main
                .Content
                    .moviePic
                        img(class="movieImage" src="https://image.tmdb.org/t/p/original" + movie.Movie.imgPath, alt="movie")
                        select(class="status")
                            option(value="movie.BlockbusterShelf.status")=movie.status
                            option(value="watched")='Want to watch'
                            option(value="previously watched")='Watched'
                            option(value="not interested")='Currently Watching'
                    .details
                        h1 #{movie.title}
                        h2(class="genre") #{movie.genre}
                        h2 #{year}
                        h2.rating #{movie.voteRating}
                        h3
                        p= movie.description
