extends layout

append head
    link(rel="stylesheet", href="/stylesheets/profile.css")
    link(rel="stylesheet", href="/stylesheets/index.css")
    script(src='/javascripts/profile.js' type='module' defer)
    title User-Profile
block content
      h1 #{users.userName}
      button(id=users.id class='follow-btn') Follow
      .container  
        .infoTitle Joined: #{joined}
        h1.profileName #{users.userName} 's Blockbuster Shelves
          .space
            a(href='/users/' +users.id + '/shelves/watched' ) Watched (#{Watched})
            a(href='/users/' +users.id + '/shelves/wantToWatch' ) Want to watch (#{wantToWatch})
            a(href='/users/' +users.id + '/shelves/currentlyWatching' ) Currently Watching (#{currentlyWatching})
        h1.profileName Recent Updates
        .contain
          .row
            each movie in users.Movies
                .Content
                  .moviePic
                    img(class="movieImage" src="https://image.tmdb.org/t/p/original" + movie.imgPath, alt="movie")
                  .details
                    a(href='/movies/' + movie.id)=  movie.title
                    h2(class="genre") #{movie.genre}
                    h2 #{year}
                    h2.rating #{movie.voteRating/2} out of 5
                    h3
                    p.hello= movie.description
